<form method="POST" action="search/create">
  <label for="fname">Name:</label><br>
  <input type="text" name="name" ><br>
  <label for="fname">Level:</label><br>
  <input type="text"  name="level" ><br>
  <input type="submit" value="Submit">
</form> 
